<header class="container-fluid">
  <div class="row m-0">
    <div class="col-lg-5 col-md-3 p-0 mt-2 mb-2">
      <div class="d-flex h-100 align-items-center">
        <span class="text-light fs-2 cursor-pointer" routerLink="home"
          >seeka</span
        >
        <span class="ps-2 pe-2 w-100">
          <input type="text" class="form-control searc" placeholder="Search" />
        </span>
      </div>
    </div>

    <div class="col-lg-6 col-md-8 d-none d-md-block">
      <div class="d-flex justify-content-end">
        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
          routerLink="home"
          routerLinkActive="active"
        >
          <i class="fa fa-home fs-5" aria-hidden="true"></i>
          Home
        </span>

        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
          routerLink="apply"
          routerLinkActive="active"
        >
          <i class="fa fa-paper-plane fs-5" aria-hidden="true"></i>
          Apply
        </span>

        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
          routerLink="peoples"
          routerLinkActive="active"
        >
          <i class="fa fa-users fs-5" aria-hidden="true"></i>
          My people
        </span>

        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
          routerLink="messages"
          routerLinkActive="active"
        >
          <i class="fa fa-envelope fs-5" aria-hidden="true"></i>
          Messages
        </span>

        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
          routerLink="notifications"
          routerLinkActive="active"
        >
          <i class="fa fa-bell fs-5" aria-hidden="true"></i>
          Notifications
        </span>

        <span
          class="d-flex justify-content-center align-items-center flex-column p-2 text-light cursor-pointer ms-2 me-2"
        >
          <i class="fa fa-user-circle fs-5" aria-hidden="true"></i>
          <span class="d-inline-flex align-items-end"
            >Me
            <i
              class="fa fa-angle-down d-inline ps-1 fs-5"
              aria-hidden="true"
            ></i>
          </span>
        </span>

      </div>
    </div>

    <div class="col-1 border-start pe-0 d-none d-md-block">
      <span
        class="d-flex justify-content-center align-items-center flex-column pt-2 text-light cursor-pointer ms-auto"
      >
        <i class="fa fa-tasks fs-5" aria-hidden="true"></i>
        <span class="d-inline-flex align-items-end"
          >Place
          <i class="fa fa-angle-down d-inline ps-1 fs-5" aria-hidden="true"></i
        ></span>
      </span>
    </div>

  </div>
</header>

