<div class="container-fluid bg-white pt-3 mb-3 ps-0 pe-0 rounded">
  <div class="row m-0">
    <div class="col-2 d-md-block d-none pe-0">
      <img src="{{ scholarship.image }}" alt="Unviversity Logo" class="image" />
    </div>

    <div class="col-md-10 ps-md-0">
      <span class="row m-0">
        <span class="col-sm-11 col-10 p-0">
          <h5>{{ scholarship.name }}</h5>
        </span>
        <span
          class="col-sm-1 col-2 p-0 d-flex justify-content-sm-around justify-content-between"
        >
          <i
            *ngIf="!scholarship.saved"
            class="fa fa-bookmark-o text-muted cursor-pointer fs-4"
            (click)="bookmarkScholarship()"
          ></i>
          <i
            *ngIf="scholarship.saved"
            class="fa fa-bookmark text-muted cursor-pointer fs-4"
            (click)="bookmarkScholarship()"
          ></i>
          <i class="fa fa-ellipsis-v text-muted cursor-pointer fs-4"></i>
        </span>
      </span>

      <p class="form-text">Provided by {{ scholarship.provider }}</p>

      <p class="text-muted">{{ scholarship.description }}</p>

      <div class="row">
        <div class="col">
          <span>
            <p class="fw-bold m-0">
              {{ scholarship.deadline | date: "mediumDate" }}
            </p>
            <p class="form-text">Deadline</p>
          </span>

          <span>
            <p class="fw-bold m-0">{{ scholarship.studyLevel }}</p>
            <p class="form-text">Study Level</p>
          </span>
        </div>
        <div class="col">
          <span>
            <p class="fw-bold m-0">{{ scholarship.validity }}</p>
            <p class="form-text">Validity</p>
          </span>

          <span>
            <p class="fw-bold m-0">{{ scholarship.intake }}</p>
            <p class="form-text">Intake(s)</p>
          </span>
        </div>
        <div class="col">
          <span>
            <p class="fw-bold m-0">
              {{ scholarship.amount.currency }}
              {{ scholarship.amount.total }} per {{ scholarship.amount.for }}
            </p>
            <p class="form-text">Amount</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
