<!--Bottom navigation for mobile view-->

<nav class="d-md-none position-sticky bottom-0 w-100">
  <div class="d-flex justify-content-between">
    <span class="text-light p-2" routerLink="home" routerLinkActive="active">
      <i class="fa fa-home fs-1" aria-hidden="true"></i>
    </span>
    <span class="text-light p-2" routerLink="apply" routerLinkActive="active">
      <i class="fa fa-paper-plane fs-1" aria-hidden="true"></i>
    </span>
    <span class="text-light p-2" routerLink="peoples" routerLinkActive="active">
      <i class="fa fa-users fs-1" aria-hidden="true"></i>
    </span>
    <span
      class="text-light p-2"
      routerLink="messages"
      routerLinkActive="active"
    >
      <i class="fa fa-envelope fs-1" aria-hidden="true"></i>
    </span>
    <span
      class="text-light p-2"
      routerLink="notifications"
      routerLinkActive="active"
    >
      <i class="fa fa-bell fs-1" aria-hidden="true"></i>
    </span>
    <span class="text-light p-2">
      <i class="fa fa-user-circle fs-1" aria-hidden="true"></i>
    </span>
    <span class="text-light p-2">
      <i class="fa fa-tasks fs-1" aria-hidden="true"></i>
    </span>
  </div>
</nav>
