.bg-gray {
  background-color: #eeeeee !important;
  min-height:100vh;
}

.tabs {
  span {
    font-weight: 500;
    margin-right: 20px;
    border-radius: 4px;
  }
  
}
.active {
  background-color: #efeff0;
  color: #3a668f;
}
.results {
  color: #a0a0a0;
}
.placeholderContainer {
  min-height: 200px;
  background-color: white;
  border-radius: 4px;
}

ul > li {
  list-style: none;
}