<div class="container">
  <ul class="d-flex flex-wrap tabs pt-2 pb-2 ps-0 m-0">
    <li
      *ngFor="let tab of tabs"
      class="d-flex align-items-end p-2 cursor-pointer rounded fs-6"
      [ngClass]="{ active: activeTab == tab }"
      (click)="changeTab(tab)"
    >
      {{ tab }}
      <i class="fa fa-angle-down fs-4 ps-2"></i>
    </li>
  </ul>
</div>

<!--Alternatively we can also use hardcoded value for activeTab to compare i.e *ngIf="activeTab == 'Scholarships'" in this scenario I choose to compare it directly with array values but here the order will matter i.e tabs[0]-->

<div class="container-fluid bg-gray p-2 pt-4" *ngIf="activeTab == tabs[0]">
  <div class="container">
    <p class="results">We found {{ itemsFound }} results</p>
    <div class="row">
      <div class="col-md-9 mb-3">
        <ng-container *ngFor="let scholarship of scholarships">
          <app-scholarship-card
            [scholarship]="scholarship"
          ></app-scholarship-card>
        </ng-container>

        <div
          *ngIf="pages.length"
          class="d-flex justify-content-between align-items-center bg-white rounded"
        >
          <button
            class="btn"
            [disabled]="currentPage == 1"
            (click)="prevPage()"
          >
            <i class="fa fa-angle-left fs-4"></i>
          </button>
          <ul class="d-sm-flex align-items-center mt-2 mb-2 d-none">
            <li
              *ngFor="let page of pages"
              class="pt-1 pb-1 ps-3 pe-3 cursor-pointer rounded list-style-none"
              [ngClass]="{ active: currentPage == page }"
              (click)="page == '...' ? '' : setPage(page)"
            >
              {{ page }}
            </li>
          </ul>
          <p class="m-0 d-block d-sm-none">{{ currentPage }}/{{ lastPage }}</p>
          <button
            class="btn"
            [disabled]="lastPage == currentPage"
            (click)="nextPage()"
          >
            <i class="fa fa-angle-right fs-4"></i>
          </button>
        </div>
      </div>

      <div class="col-md-3">
        <div class="placeholderContainer"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-gray p-2 pt-4"
  *ngIf="activeTab == tabs[1]"
></div>
<div
  class="container-fluid bg-gray p-2 pt-4"
  *ngIf="activeTab == tabs[2]"
></div>
<div
  class="container-fluid bg-gray p-2 pt-4"
  *ngIf="activeTab == tabs[3]"
></div>
<div
  class="container-fluid bg-gray p-2 pt-4"
  *ngIf="activeTab == tabs[4]"
></div>
<div
  class="container-fluid bg-gray p-2 pt-4"
  *ngIf="activeTab == tabs[5]"
></div>
